*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #161853;
}

.container{
    display: flex;
    justify-content: center;
    padding: 100px;
}

.content{
    background-color: #FAEDF0;
    padding: 50px;
    border-radius: 30px;
    text-align: center;
    transition: all .50s ease;
}

.content:hover{
    box-shadow: 0 8px 32px 0 rgb(236, 37, 90);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.title{
    margin: 10px;
}

button{
    margin: 10px;
    background-color: #EC255A;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
}